.container {
    position: relative;
}

.ingredientForm {
    width: 30rem;
}
.ingredientForm input {
    margin-left: 1rem;
    width: 23rem;
}

.ingredientFormList {
    list-style-type: none;
    overflow: auto;
    height: 20rem;
    background-color: rgb(231, 231, 231);
    width: 30rem;
    scrollbar-width: none;
    -ms-overflow-style: none; /* for Internet Explorer, Edge*/
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

.ingredientFormList::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.ingredientForm button {
    margin-left: 1rem;
}
