/* The side navigation menu */
.sidenav {
    height: 100vh; /* 100% Full-height */
    width: 14rem; /* 0 width - change this with JavaScript */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #e1880a; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
}

.sidenav ul {
    display: block;
    list-style: none;
    margin-top: 2rem;
    padding: 0;
    text-align: center;
}

.sidenav li {
    border-radius: 25px;
    display: block;
    margin-bottom: 3.5rem;
}

.sidenav a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: #777777ab;
    border-radius: 25px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: block;
    width: 11rem;
    margin: auto;
}

.breadIndent {
    color: #77777700;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: #777777ab;
    border-radius: 25px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: block;
    width: 11rem;
    margin: auto;
    cursor: default;
}

.sidenav a:hover {
    color: rgb(139, 67, 0);
}

.logo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 2.5rem;
    width: fit-content;
    height: fit-content;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

nav {
    text-align: center;
    display: block;
    margin: auto;
}
